#result{
    color: var(--textColor);
}

.info{
    padding: 20px;
    position: relative;
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;

}

.poster{
    border-radius: 20px;
}

h2{
    text-align: center;
    font-size: 1.em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em 0 0.9em 0;
    gap: 0.3em;
}
.rating img{
    width: 1.2em;
}

h4{
    font-size: 1.1em ;
    font-weight: 500 ;
    display: inline-block;
}

.genre {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .genre div {
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

  
 
.details{
    font-weight: 300;
    display: flex;
    font-size: 0.94em;
    gap: 1em;
    justify-content: center;
    color: #eb1313 ;
    margin: 0.6em 0;
}




.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content h3{
    font-weight: 500;
    margin-top: 1.2em;
}

.content p{
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.8em;
    text-align: justify;
    color: #f11313ee;
    max-width: 300px;
}

.msg{
    text-align: center;
}